/**
 * layout styles
 */

#collections {
    width: 100vw;
    max-width: 640px;
    transform: translateX(calc(100% - 65px));
    transition: 0.25s;
}

#collections:hover {
    transform: translateX(0);
}
#collections:hover button > *:first-child {
    display: none;
}

#selection-wrapper {
    transform: translateX(calc(100% - 120px));
}
#selection-wrapper:hover {
    transform: translateX(-65px);
}

.image:hover .meta,
.image:hover .options {
    display: block;
}

/* print styles */
@page {
    size: A4;
    margin: 10mm;
}
.print-image-meta {
    display: none;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        overflow: visible;
    }

    body {
        font-size: 15pt;
        hyphens: auto;
    }

    .print-hidden {
        display: none;
    }
    .print-w-full {
        width: 100%;
    }
    .print-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .print-grid a {
        break-inside: avoid;
    }
    .print-image-meta {
        display: block;
    }
    .print-image-meta span {
        display: block;
    }
}
